<template>
  <div>
        <BlockUI v-if="processing" message="Loading..."></BlockUI>
		

        <!-- mutually exclusive Accordions example (with same input names) -->

    <div class="container">

         <div class="columns">
                <div class="col-12 text-center col-sm-12">                                   
                    <form action="/download">
                            <div class="columns text-center">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <input class="form-input" type="text" id="input-example-1" placeholder="https://bobmovies.net/[movie-page].html" 
                                            name="url" v-model="url">
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                    <br>
                                    <br>
                                    <div class="col-12">
                                        <button :disabled="url == ''" type="button"  class="btn btn-primary" @click="bobD"> Download  </button>
                                    </div>
                            </div>	
                    </form>
                </div>
        </div>

            
        
    </div>
</div>

</template>

<script>
export default {
  
    mounted(){
        console.log("Desk Mounted")
        let vm = this;
        vm.url = '';
        if (vm.dataurl != ""){
            vm.url = vm.dataurl
            vm.list()
        }
    },

    data(){
        return{
            url:"",
            formats:"",
            err:"",
            processing: false,
            format:"mp4",
        }
    },

    props:["dataurl"],

    methods:{

        changeFormat:function(format){
            let vm=this
            vm.format = format

        },

        actived: function(format){
            let vm=this
            return (vm.format == format) ? true : false
        },

        bobD: function(){
            let vm =this
            vm.err = ""
            let myform  = new FormData()
            myform.set("url", vm.url)
            vm.processing = true
            axios({
                    method: 'get',
                    url: '/bobm?url='+encodeURI(vm.url),
                    data: myform,
                    config: {headers: {'Content-Type': 'multipart/form-data'}},                  
                })
                    .then((data) => {
                        console.log(data.data);

                        var url = '/downloadany?url='+encodeURI(data.data.url)
                        window.open(url, '_blank');
                        vm.processing = false
                    })
                    .catch((err)=>{
                        console.log(err) 
                        vm.err = err.url.substring(15)
                        vm.processing = false
                    })
        },

        list: function(){
            let vm =this
            vm.err = ""
            vm.processing = true
            axios.get("/downloadany?url="+this.url)
            .then((succ)=>{
                console.log(succ)
                vm.formats = succ.data.formats
                vm.url = succ.data.url
                vm.processing = false
            })
            .catch((err)=>{
                console.log(err)
                vm.err = err.config.url.substring(14)
                vm.processing = false
            })
        },

        urlGen: function(format){
            let vm = this 
            return '/hsd?url='+encodeURI(vm.url)+"&format="+format
        },

      
    }

}
</script>

