<style scoped>
     .search-box {
        position: relative;
     }

     .search-result{
        position: relative;
        top: 39px;
        left: 0;
        width: 100%;
        background-color: #fff;
     }
</style>


<template>
    <div>
        <BlockUI v-if="processing" message="Loading..."></BlockUI>
        <!-- mutually exclusive Accordions example (with same input names) -->


         <div>
                <!-- End of search result -->
                <div class="container grid-lg">
                    <div class="columns">
                    <div class="col-12 text-center col-sm-12">
                        <form action="/download">
                            <div class="columns text-center" style="padding: 10px;">
                               
                                <div class="col-2">
                                </div>
                                <div class="col-8 col-sm-12 col-xs-12">
                                    <div class="input-group search-box">
                                        <input type="text" class="form-input input-lg" id="input-example-1"
                                                style="font-size: 18px;
                                                        font-weight: 300;
                                                        padding: 20px;
                                                        border-radius: 10px 0 0 10px;"
                                               placeholder="Paste Youtube URL Or Search Youtube Videos Directly ..  " name="url"
                                               v-model="url">
                                        <button :disabled="url == ''" style="height:42px" class="btn bg-warning btn-lg input-group-btn"
                                                @click="list"><i class="fa fa-1x fa-arrow-right"></i></button>
                                      
                                    </div>
                        
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </form>
                                      <div class="search-result" v-if='url != "" && isSearch'>
                                            <div class="panel">
                                              <div class="panel-header">
                                                <div class="panel-title"><h4>Search Results</h4></div>
                                              </div>
                                              <div class="panel-nav">
                                                <!-- navigation components: tabs, breadcrumbs or pagination -->
                                              </div>
                                              <div class="panel-body">
                                                  <div v-if="searchResult.length > 0 ">
                                                      <div class="container">
                                                    <div class="columns">
                                                      <div class="card col-sm-12  col-xs-12 col-4" v-for="(item,indx) in searchResult"  v-bind:key=indx >
                                                          <div class="card-image">
                                                            <img :src="item.snippet.thumbnails.high.url"  class="img-responsive">
                                                          </div>
                                                          <div class="card-header">
                                                            <div class="card-title h5" style="white-space: nowrap;">{{item.snippet.title}}</div>
                                                          
                                                          </div>
                                                       
                                                        
                                                             <a :href="urlGenForYoutube(item.id.videoId)"  class="btn bg-warning">Download</a>
                                                         
                                                       </div>
                                                    </div>
                                                    </div>
                                                 
                                                   
                                                  </div>
                                                  <div  v-if="searchResult.length == 0 && fetched ">
                                                    <p> No result found for <b> {{url}}</b> . Would you like to search for anything else ! </p>    
                                                  </div>
                                                <div  v-if="searchResult.length == 0 && !fetched ">
                                                    <p> Click on <i data-v-ab5d4ed6="" class="fa fa-1x fa-arrow-right"></i> to fetch search results ...</p>    
                                                  </div>
                                                  
                                              </div>
                                              <div class="panel-footer">
                                                <!-- buttons or inputs -->
                                              </div>
                                            </div>
                                        </div>
                        <br>
                        <div v-if='err != "" '>
                            <div class="toast toast-error">
                                {{ err }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        <div>

            <div  v-if="url=='' && formats.length == 0 " class="container grid-lg" >                 
                   
                    <div class="columns">
                   
                              <div class="panel" style="background:#fff">
                                              <div class="panel-header">
                                                <div class="panel-title"><h4>YouTube Trendign In Country</h4></div>
                                              </div>
                                              <div class="panel-nav">
                                                <!-- navigation components: tabs, breadcrumbs or pagination -->
                                              </div>
                                              <div class="panel-body">
                                                 
                                                      <div class="container">
                                                    <div class="columns">
                                                      <div class="card col-sm-12  col-xs-12 col-4" v-for="(item,indx) in youtubeVids"  v-bind:key=indx >
                                                          
                                                        <iframe style="padding:20px; border: none !important;" width="100%" height="100%"
                                                                :src="urlGenForIframe(item.id)"
                                                                allowfullscreen="allowfullscreen">
                                                        </iframe>
                                                        
                                                        <a  :href="urlGenForYoutube(item.id)" class="btn bg-warning">Download</a> 

                                                       </div>
                                                    </div>
                                                </div>
                                                </div>
                                             
                              </div>
                        <!-- </div> -->
                        
                    </div>
                </div>
            </div>

      
            <div >
                <div class="container grid-lg">
                    <!-- This portion contains the result of the search query -->
                <div class="card">
                    <div class="panel">
                        <div class="panel-title" v-if="title != ''">
                            <h4>
                                <h5 class="link">{{ title }} </h5>                               
                            </h4>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                    <div class="columns">
                        <div v-if="thumb != ''" class="col-xs-12 col-sm-12 col-6" >
                        
                                <iframe  style="padding:10px;" width="100%" height="100%" :src="urlGenForIframe(url)"
                                        frameborder="0" allowfullscreen="allowfullscreen">
                                </iframe>
                      
                        </div>
                        <div class="col-6 col-sm-12 col-xs-12">
                            <p style="max-height: 90px;
                                overflow-y: scroll;
                                word-break: break-word;">
                                {{desc}}</p>
                             <div v-if="formats.length > 0">
                        <h6 class="text-center" >
                            Download link</h6>
                        <ul class="tab tab-block">
                            <li class="tab-item" @click="changeFormat('mp4')" v-bind:class='{active: actived("mp4")}'>
                                <a href="#">Mp4</a>
                            </li>
                            <li class="tab-item" @click="changeFormat('3gp')" v-bind:class='{active: actived("3gp")}'>
                                <a href="#" class="">3gp</a>
                            </li>
                            <li class="tab-item" @click="changeFormat('webm')" v-bind:class='{active: actived("webm")}'>
                                <a href="#">Webm</a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns">
                        <div v-for="(format,index) in formats" v-bind:key="index"
                             class=" column text-center col-xs-6 col-3" 
                             style="margin:20px;"
                             v-if="format.Data.extension == curformat  && format.Data.resolution != '' "
                        >
                            <div class="dropdown">
                                <div class="btn-group">
                                    <!-- <a  :href="urlGen(format.Data.itag)" class="btn btn-primary">{{ format.Data.resolution }}</a> -->
                                    <a  v-if="link != 'no'" :href="urlGen(format.Data.itag)" class="btn bg-warning" >{{format.Data.resolution}}</a>
                                    <a  v-if="link == 'no'" href="#" class="btn bg-warning" >{{format.Data.resolution}}</a>
                                    <a class="btn bg-warning dropdown-toggle" tabindex="0"><i
                                            class="fas fa-caret-down"></i></a>
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="#dropdowns">
                                                <img :src="qrCode(format.Qr)" width="100%" height="auto">
                                                Quick Share QR Code
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <input v-clipboard="urlGenForOgShare()" @success="handleSuccess"
                                                   @error="handleError" type="text" :value="urlGenForOgShare()"
                                                   >
                                            <p>Click/Tap Textbox To Copy</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                    
                   

                </div>

                </div>
            </div>
           </div>
            

</template>

<script>
    export default {
        mounted() {
            console.log("Desk Mounted");
            let vm = this;
            vm.url = "";
           
            if (vm.dataurl != "") {
                vm.url = vm.dataurl;
                vm.list();
            }
            if(!vm.dataurl.includes("http://") && !(vm.dataurl.includes("https://")) ){
                        vm.isSearch = true;
                    }else{
                        vm.isSearch = false;
                    }
            vm.youtubev3APIcall()
        },

        data() {
            return {
                thumb: "",
                title: "",
                desc: "",
                url: "",
                formats: [],
                err: "",
                processing: false,
                curformat: "mp4",
                youtubeVids: [],
               
                searchResult: [],
                isSearch : true,
                fetched : false,
            };
        },

        props: ["dataurl", "country" , "link"],

        methods: {

        handleSuccess: function(){
                alert("copied succesfully")
        },

        handleError: function(){
                alert("error during coping")
        },

        getId: function(url){
            return  url.match(/([A-Z])\w+/g).toString()
        },

            youtubev3APIcall: function () {

                let vm = this;
                vm.processing = true;

                var country = ( vm.country == "") ? "IN" : vm.country;
                let yt3Call = "https://www.googleapis.com/youtube/v3/videos?part=contentDetails&chart=mostPopular&regionCode=" + country + "&maxResults=6&key=AIzaSyDYqSTO89GKPTYtBwsw2DQMhsIHFONF6mk"

                axios({
                    method: "get",
                    url: yt3Call,
                })
                    .then(data => {
                        vm.youtubeVids = data.data.items;
                        vm.processing = false;
                        console.log("data has been fetched");
                    })
                    .catch(err => {
                        console.log(err);
                        vm.processing = false;
                    });
            },

            youtubev3SearchAPIcall: function(Qstring){

                console.log("search api called ")
                let vm = this;
                var country = ( vm.country == "") ? "IN" : vm.country;

                vm.processing = true;
                let yt3Call = "https://www.googleapis.com/youtube/v3/search"

                axios({
                    method: "get",
                    url: yt3Call,
                     params: {
                        part: 'snippet',
                        key: 'AIzaSyDYqSTO89GKPTYtBwsw2DQMhsIHFONF6mk',
                        maxResults:'12',
                        q : Qstring,
                        regionCode : country,
                        chart:'mostPopular',
                        safeSearch:'strict',
                    }     
                })
                    .then(data => {
                        vm.searchResult = data.data.items
                        vm.fetched = true;
                        vm.processing =false;
                      console.log(data)
                    })
                    .catch(err => {
                        console.log(err);
                        vm.processing = false;
                    });
            },

            qrCode: function (qrBytes) {
                return "data:image/png;base64," + qrBytes;
            },

            changeFormat: function (format) {
                let vm = this;
                vm.curformat = format;
            },

            actived: function (format) {
                let vm = this;
                return vm.curformat == format ? true : false;
            },

            bobD: function () {
                let vm = this;
                vm.err = "";
                let myform = new FormData();
                myform.set("url", vm.url);
                alert("bob downloader");
                axios({
                    method: "get",
                    url: "/bobm?url=" + encodeURI(vm.url),
                    data: myform,
                    config: {headers: {"Content-Type": "multipart/form-data"}}
                })
                    .then(data => {
                        console.log(data.data);
                        var url = "/downloadany?url=" + encodeURI(data.data.url);
                        window.open(url, "_blank");
                    })
                    .catch(err => {
                        console.log(err);
                        vm.err = err.url.substring(15);
                    });
            },

            list: function () {
                let vm = this;                 
               
                if(!vm.url.includes("http://") && !(vm.url.includes("https://")) ){
                        vm.isSearch = true;
                    }else{
                        vm.isSearch = false;
                }

                if (vm.isSearch == false){   
                    console.log("going with listing api");               
                    vm.err = "";
                    vm.processing = true;
                    axios
                    .get("/download?url=" + encodeURI(this.url))
                    .then(succ => {
                        console.log(succ.data);
                        vm.formats = succ.data.formats;
                        vm.url = succ.data.url;
                        vm.processing = false;
                        vm.thumb = succ.data.thumb
                        vm.title = succ.data.title
                        vm.desc = succ.data.description
                    })
                    .catch(err => {
                        console.log(err);
                        vm.err = err.config.url.substring(14);
                        vm.processing = false;
                    });
                }else{
                    console.log("going with search api");
                   vm.youtubev3SearchAPIcall(vm.url)
                }
            },

            dload: function (format) {
                let vm = this
                axios
                    .get("/hsd?url=" + encodeURI(vm.url) + "&format=" + format)
                    .then(succ => {
                        console.log(succ);
                        let ytdurl = succ.data.url.Scheme + "://" + succ.data.url.Host + succ.data.url.Path + "?" + succ.data.url.RawQuery
                        // window.open(ytdurl,"_new")

                        axios({
                            url: ytdurl,
                            method: 'GET',
                            responseType: 'blob', // important
                        }).then((response) => {
                            const url = window.URL.createObjectURL(new Blob([response.data]));
                            const link = document.createElement('a');
                            link.href = url;
                            link.setAttribute('download', 'file.pdf');
                            document.body.appendChild(link);
                            link.click();
                        });
                    })
                    .catch(err => {
                        console.log(err);
                        vm.err = err.config.url.substring(14);
                        vm.processing = false;
                    });
            },

            urlGen: function (format) {
                 let vm = this;
                 if (vm.link == "no") {
                     alert("Sorry! , we are out of bandwidth quota of this month.. ")
                     return
                 }
                return   "/hsd?url=" + encodeURI(vm.url) + "&format=" + format
            },

            urlGen2: function (format) {
                let vm = this;
                vm.processing  = true
                axios({
                    method: "get",
                    url: "/hsd2?url=" + encodeURI(vm.url) + "&format=" + format,                 
                   
                })
                    .then((data) => {
                        window.open(data.data.url);
                        vm.processing  = false
                        console.log(data.data.url);                      
                    })
                    .catch((err) => {
                        vm.processing  = false
                        console.log(err);
                        vm.err = err.url.substring(15);
                    });

                return ;
            },
            urlGenForOgShare: function () {
                let vm = this;
                return "/share?url=" + encodeURI(vm.url);
            },
            urlGenForYoutube: function (id) {
                return "/share?url=https://www.youtube.com/watch?v=" + id;
            },
            urlGenForIframe: function (url) {
                let vm = this;
                let temp = url.split("=")
                if (temp.length != 2) {
                    return "https://www.youtube.com/embed/" + url
                }
                // if ( (url.includes("youtube") == false )){
                //     url = "https://www.youtube.com/watch?v="+url
                // }
                return "https://www.youtube.com/embed/" + temp[1];
                console.log("temp", temp[1]);
            }
        },

        filters: {

            truncate: function (value) {
                return value.slice(0, 50) + '...'
            }
        },

        watch:{
            url:function(){
                var vm =this ;
                if (vm.url == ""){
                     vm.searchResult = [] 
                     vm.fetched = false;
                }
            }
        }


    };
</script>

