/*
.btn.btn-primary{
	background-color: $theme-color;
	&:hover{
		background-color: $theme-color;
	}
	&:focus{
		background-color: $theme-color;
	}
}
a{
	color: $theme-color;
}
.link{
	color: $theme-color;
}*/
.btn{
  border:none!important;
}