<!DOCTYPE html>
<html>
<head>
	<title>YTdownloader - Online YouTube Downloader</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<meta name="token" value="{{.Token}}">
	<meta charset="UTF-8">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71252860-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71252860-6');
</script>


</head>
<body>

	<div id="app">
		<div class="heading">
			
				<div >
					<h1 class="text-center">
						<a href="http://www.ytdownload.xyz/">YTdownloader</a></h1>
					</h1>
					<h6 class="text-center">Download Any 
						<a href="http://www.ytdownload.xyz/">Bobmovies</a> movie for 
						<a href="http://www.ytdownload.xyz/">free</a></h6>	
				</div>    	
			
		</div>

		<br><br><br>
		
		<div class="container grid-lg">
			<bobm></bobm>
		</div>
		
	</div>
	<script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>