<!DOCTYPE html>
<html>
<head>
	<title>YTdownloader - Online YouTube Downloader</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<meta name="token" value="{{.Token}}">
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71252860-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71252860-6');
</script>


</head>
<body>

	<div id="app">
		<div class="heading">
			
				<div >
					<h1 class="text-center">
						<a href="http://www.ytdownload.xyz/">YTdownloader</a></h1>
					</h1>
					<h6 class="text-center">Download Any 
						<a href="http://www.ytdownload.xyz/">Youtube</a> Video for 
						<a href="http://www.ytdownload.xyz/">free</a></h6>	
				</div>    	
			
		</div>

		<br><br><br>
		<h6 class="text-center"> Any Video , Just a copy paste away </h6>
		<div class="container grid-lg">
			<desk></desk>
		</div>
		
	</div>
	<script type="text/javascript" src="/public/js/app1.js"></script>
</body>
</html>