
<!DOCTYPE html>
<html>
<head>
    <title>YTdownload.xyz - Online YouTube Downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <meta name="token" value="">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71252860-6"></script>
        
    <!-- Push notification -->
    <script src="//sendmepush.com/ntfc.php?p=1950134" data-cfasync="false" async></script>
    
    <!-- hover addds -->
    <script async="async" data-cfasync="false" src="//tharbadir.com/2?z=2132432"></script> 
   
    <!--  -->
   <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-71252860-6');
    </script>
   
    <style>
        .link{
            margin: 20px;
        }

        .site-title{
            font-family: 'Pacifico', cursive;
            padding: 20px;
        }


    </style>



</head>
<body style="background-color:#47355f;">
    <div class="container grid-lg ">
        <h1 class="pt-2 site-title" style="font-weight: 300">
            <a href="http://www.ytdownload.xyz/" class="text-warning">YTdownload.xyz</a>
        </h1>
    </div>


<div id="app">
   <div>  
        {{ if isset(.url) }}
        <desk link="yes" dataurl="{{.url}}" promote="{{ .promote }}" country="{{.country}}"></desk>
        {{ else}}
        <desk link="yes" dataurl="" country="{{.country}}" promote="{{.promote}}"></desk>
        {{ end }}    
   </div>
</div>



<script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>