<html>
    <head>
	<title> {{.metaTitle}} </title>
	<meta name="description" content="{{.description}}">
	<meta property="og:title" content="{{.metaTitle}}" />
        <meta property="og:image" content="{{.metaImage}}" />
        <meta property="og:description" content="{{.description}}" />	
    	
    </head>
    <body>	
	<div style="display:none">
	<img src="{{.metaImage}}" />        
	</div>
	<h5> Redirecting to www.ytdownload.xyz </h5>
	<script type="text/javascript">
	window.onload = function() {
	    // similar behavior as clicking on a link
	     window.location.replace("{{ .url }}")
	}
	</script>
    </body>
</html>