<html>
    <head>
        <title>Youtube Available Streams</title>
    </head>
    <body>
        
        {{ range format := .formats}}
        <form action="/hsd" method="post"> 
            <input type="hidden" name="gorilla.csrf.Token"  value="{{ .Token }}">
            <input type="hidden" value='{{.url}}' name="url">
            <input type="hidden" value="{{format.Itag}}" name="format">
            <label for="">{{ format.Extension }} | {{ format.VideoEncoding }} </label>
            <button type="submit"> Download</button>
        </form>
        {{ else}}

        <p> No stream found</p>

        {{ end }}

    </body>
</html>